<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>New</title>
</head>
<body>
    <div class="page1">
      <h1>New post </h1>
        <form method="post" action="http://localhost:8080/posts" >
            <input type="text" name="username" placeholder="username">
            <textarea name="content" cols="30" rows="10" placeholder="add content here"></textarea>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>